<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>


<script type="text/javascript">
    $( document ).ready(function() {
       <% if @diary.category == "얼굴" %>
    $(".head").css("background-color","#ff865c");
  <% end %>

  <% if @diary.category == "머리카락" %>
    $(".hair").css("background-color","#a35c00");
  <% end %>

  <% if @diary.category == "왼팔뚝" %>
    $(".shoulder.right").css("background-color", "#ff865c");
    $(".shoulder2.left").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "오른팔뚝" %>
    $(".shoulder.left").css("background-color", "#ff865c");
    $(".shoulder2.right").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "허리" %>
    $(".belt").css("background-color","#ff865c");
  <% end %>

  <% if @diary.category == "왼손" %>
    $(".hand.right").css("border", "13px solid #ff865c");
    $(".hand2.left").css("border", "13px solid #ff865c");
  <% end %>

  <% if @diary.category == "오른손" %>
    $(".hand.left").css("border", "13px solid #ff865c");
    $(".hand2.right").css("border", "13px solid #ff865c");
  <% end %>

  <% if @diary.category == "오른다리" %>
    $(".leg.left").css("background-color", "#ff865c");
    $(".leg2.right").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "왼다리" %>
    $(".leg.right").css("background-color", "#ff865c");
    $(".leg2.left").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "왼팔" %>
    $(".arm.right").css("background-color", "#ff865c");
    $(".arm2.left").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "오른팔" %>
    $(".arm.left").css("background-color", "#ff865c");
    $(".arm2.right").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "왼발" %>
    $(".foot.right").css("background-color", "#ff865c");
    $(".foot2.left").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "오른발" %>
     $(".foot.left").css("background-color", "#ff865c");
    $(".foot2.right").css("background-color", "#ff865c");
  <% end %>

  <% if @diary.category == "중요부위" %>
    $(".core").css("background-color","#ff865c");
  <% end %>

  <% if @diary.category == "엉덩이" %>
    $(".hip").css("background-color","#ff865c");
  <% end %>

  <% if @diary.category == "몸" %>
    $(".body2").css("border-color", "transparent transparent #ff865c transparent");
  <% end %>

  <% if @diary.category == "등" %>
    $(".body3").css("border-color", "transparent transparent #ff865c transparent");
  <% end %>
    });
</script>
<%= javascript_include_tag "diaries", "data-turbolinks-track" => true  %>