<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <%= render "lego" %>
        </div>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>


<script type="text/javascript">
    $( document ).ready(function() {
      <% if @diary.category == "head" %>
        $(".head").css("background-color","red");
      <% end %>

      <% if @diary.category == "hair" %>
        $(".hair ").css("background-color","red");
        // $('div.hair').append('<style type="text/css"> background-color:red </style>');
      <% end %>

      <% if @diary.category == "wrist" %>
        $(".wrist").css("background-color","red");
      <% end %>

      <% if @diary.category == "shoulder_left" %>
        $("shoulder.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "shoulder_right" %>
        $("shoulder.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "hand_left" %>
        $(".hand.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "hand_right" %>
        $(".hand.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "leg_right" %>
        $(".leg.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "leg_left" %>
        $(".leg.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "arm_left" %>
        $(".arm.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "arm_right" %>
        $(".arm.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "foot_left" %>
        $(".foot.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "foot_right" %>
        $(".foot.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "wrist left" %>
        $(".wrist").css("background-color","red");
      <% end %>

      <% if @diary.category == "wrist_right" %>
        $(".wrist.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "waist" %>
        $(".belt").css("background-color","red");
      <% end %>

      <% if @diary.category == "shoulder_left" %>
        $("shoulder.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "shoulder_right" %>
        $("shoulder.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "hand_left" %>
        $(".hand.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "hand_right" %>
        $(".hand.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "leg_right" %>
        $(".leg.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "leg_left" %>
        $(".leg.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "arm_left" %>
        $(".arm.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "arm_right" %>
        $(".arm.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "foot_left" %>
        $(".foot.left").css("background-color","red");
      <% end %>

      <% if @diary.category == "foot_right" %>
        $(".foot.right").css("background-color","red");
      <% end %>

      <% if @diary.category == "core" %>
        $(".core").css("background-color","red");
      <% end %>

      <% if @diary.category == "hip" %>
        $(".hip").css("background-color","red");
      <% end %>

      <% if @diary.category == "body" %>
        $(".body").css("background-color","red");
      <% end %>

      <% if @diary.category == "back" %>
        $(".back").css("background-color","red");
      <% end %>
    });
</script>
<%= javascript_include_tag "diaries", "data-turbolinks-track" => true  %>