<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-5" href="#">SDIARY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav navbar-right navbar-nav mr-5">
      <% if user_signed_in? %>
          <li>현재 로그인된 유저의 이메일 : <%= current_user.email %>
          </li>
          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
 </nav>
